<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/téléchargement.png"></ion-img>
      <ion-card-subtitle><h1>POPINA MOBILE</h1></ion-card-subtitle>
      <ion-card-title><strong>TAKAM & POLA</strong></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      C'est une application pour l'achat de différents produits auprès des
      fornisseurs, dans leurs magasins respectifs.
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-title class="ion-text-end">COPYRIGHT@2022 ~~ T2CJ&PLA</ion-title>
  </ion-footer>
</ion-content>
